.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--text-color-dark);
  margin-bottom: 50px;
  text-align: center;
}
